<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header', {variant:'compact'}); %>
</header>

<main>
<div class="row">
    <div class="col-sm-8">
        <div class="jumbotron">
            <h1>C'est fait</h1>
            <p>Bienvenue dans la création de modèles avec EJS</p>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="well">
            <h3>Regardez, je suis une barre latérale!</h3>
        </div>
    </div>

</div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>